#points {
  margin: 0;
  display: inline-block;
  float: left;
  height: 54px;
  padding: 16px 10px;
  font-size: 18px;
}

strong#num {
  margin: 0;
  margin-left: 30px;
}

#add {
  margin: 0;
  display: inline-block;
  float: right;
  height: 54px;
  padding: 16px 30px;
  border-radius: 6px;
  text-decoration: none;
  color: #f9f9f9;
  background-color: #3c82f2;
  font-size: 17px;
  margin-bottom: 20px;
}

#add:hover {
  background-color: #1067f2;
}

@media (max-width: 450px) {
  #add {
    float: left;
  }
}

.row_div:after {
    content: "";
    display: table;
    clear: both;
}

#tableBox {
  margin-top: 20px;
  display: table;
  width: 100%;
  box-sizing: border-box;
  min-width: 860px;
}

div.head.row {
  display: table-row;
  box-sizing: border-box;
  color: #f9f9f9;
  background-color: #3c82f2;
  padding: 0 20px;
}

div.cell {
  display: table-cell;
  box-sizing: border-box;
  border-bottom: 2px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

div.cell.head.left {
  border-radius: 10px 0 0 0;
}

div.cell.head.right {
  border-radius: 0 10px 0 0;
}

div.cell.left {
  border-left: 2px solid #bbb;
}

div.cell.right {
  border-right: 2px solid #bbb;
}

div.cell.head {
  font-size: 17px;
  padding: 15px 0;
  text-align: center;
  border: None;
}

.action {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
  text-align: center;
}

.description {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.duration {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
  text-align: center;
}

.points {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  text-align: center;
}

.time {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  text-align: center;
}

.message {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  text-align: center;
}

div.cell:not(.head) {
  padding: 12px 10px;
}

a.row {
  display: table-row;
  box-sizing: border-box;
  text-decoration: none;
}

a.row:hover {
  background-color: #ddd;
}

i.fa-envelope {
  margin: auto;
  text-align: center;
}

i.fa-arrow-left {
  margin-right: 10px;
}

.outside {
  overflow-x: auto;
}

.act-box {
  display: block;
}

.act-head {
  text-align: center;
  font-size: 17px;
  color: #f9f9f9;
  background-color: #3c82f2;
  padding: 20px 15px;
  box-sizing: border-box;
  border-radius: 50% 50% 0 0;
  font-weight: bold;
}

.act-body {
  height: calc(100% - 260px);
  border: 2px solid #ccc;
  border-top: None;
}

div.act-list {
  border-bottom: 2px solid #ccc;
}

table.act-list {
  width: 100%;
}

td.act-list {
  width: 50%;
  text-align: center;
  padding: 12px;
}

div.send_message {
  height: 180px;
  border-top: 2px solid #ccc;
}

div.chat {
  height: calc(100% - 224px);
}

table.send_form {
  width: 100%;
}

tr.send {
  width: 100%;
}

td.send_text {
  width: 75%;
}

td.send_button {
  width: 25%;
  text-align: center;
}

textarea.send_text {
  border-left: None;
  border-top: None;
  border-bottom: none;
  height: 167px;
  font-size: 16px;
  width: 100%;
}

button[type=submit] {
  width: 70px;
  height: 70px;
  background-color: #3c82f2;
  color: white;
  border-radius: 35px;
  border: None;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  box-sizing: border-box;
  margin: auto;
}

button[type=submit]:hover {
  background-color: #1067f2;
}

@media (max-width: 409px) {
  div.chat {
    height: calc(100% - 240px);
  }
}

div.chat {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  overflow: hidden;
  overflow-y: auto;
}

div.chat-mess {
  padding-bottom: 5px;
}

.chat-bubble {
  padding: 5px 15px;
	position: relative;
	background: #eaeaea;
	border-radius: .4em;
  width: 100%;
}

.chat-time {
  text-align: right;
  color: #afafaf;
}

.chat-author {
  padding-left: 7px;
  font-size: 110%;
  color: #afafaf;
}

h4:not(#chat) {
  margin-top: 0;
}
