{% extends 'diary/base.html' %}

{% load staticfiles %}

{% block title %}
  <title>Pridať aktivitu</title>
{% endblock %}

{% block bootstrap %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/activity_form.css' %}">
{% endblock %}

{% block content %}
  <div class="form">
    <h1>Pridať aktivitu</h1>
    {% if error %}
      <div class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Chyba!</strong> {{ error }}
      </div>
    {% endif %}
    <form method="POST" autocomplete="off">
      {% csrf_token %}
      <label for="club">Aktivita</label>
      <br>
      <select id="club" class="field" name="activity" onchange="new_desc()" required>
        <option value="none">------------</option>
        {% for activity in activities %}
          <option value="{{ activity.id }}">{{ activity.name }}</option>
        {% endfor %}
      </select>
      <div class="mystaff_hide none">
        <p>Vyber si aktivitu</p>
      </div>
      {% for activity in activities %}
        <div class="mystaff_hide {{ activity.id }}">
          <p style="padding: 5px;">{{ activity.description }}</p>
        </div>
      {% endfor %}
      <br>
      <label for="password">Trvanie</label>
      <br>
      {% if dur_hours %}
        <input id="password" class="field" name="hours" type="number" value="{{ dur_hours }}" required> hodín
        <input id="password" class="field" name="minits" type="number" value="{{ dur_minutes }}" required> minút
      {% else %}
        <input id="password" class="field" name="hours" type="number" value="0" required> hodín
        <input id="password" class="field" name="minits" type="number" value="0" required> minút
      {% endif %}
      <br>
      <label for="password_again">Stručný popis alebo iná poznámka (voliteľné)</label>
      <br>
      {% if datetime %}
        <textarea id="password_again" class="field" name="description">{{ description }}</textarea>
        <br>
        <label for="time">Dátum a čas</label>
        <br>
        <input id="time" type="datetime-local" name="datetime" value="{{ datetime }}" required>
      {% else %}
        <textarea id="password_again" class="field" name="description"></textarea>
        <br>
        <label for="time">Dátum a čas</label>
        <br>
        <input id="time" type="datetime-local" name="datetime" value="{{ now }}" required>
      {% endif %}
      <br>
      <div class="submit">
        <input type="submit" value="Pridať">
      </div>
    </form>
  </div>

  <script>
    function new_desc() {
      var sel = document.getElementById('club').value;

      var desc = document.getElementsByClassName('mystaff_hide');
      for (i = 0; i < desc.length; i++) {
        desc[i].style = "display: none;";
      };

      document.getElementsByClassName(sel)[0].style = "display: block;"
    };
  </script>
{% endblock %}

{% block late_js %}
  <script>
    var desc = document.getElementsByClassName('mystaff_hide');
    for (i = 0; i < desc.length; i++) {
      desc[i].style = "display: none;";
    };
  </script>
{% endblock %}
