{% extends 'diary/base.html' %}

{% load staticfiles %}

{% block title %}
  <title>Denné výzvy</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/challange.css' %}">
{% endblock %}

{% block content %}
    {% for challange in data %}
        <h1>{{ challange.0.name }} - {{ challange.0.points }} bodov</h1>
        <p class="date">{{ challange.0.date }}</p>
        <div class="row">
            <div class="column">
                {% for profile in challange.1 %}
                    <h2>{{ profile.0.idUser.username }}</h2>
                    {% for item in profile.1 %}
                        <div class="items">
                            {% if item.1 %}
                                <i class="fa fa-check item-check"></i>
                            {% else %}
                                <i class="fa fa-times item-check"></i>
                            {% endif %}
                            <p class="item-action">{{ item.0.action }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="column">
                {% for profile in challange.2 %}
                    <h2>{{ profile.0.idUser.username }}</h2>
                    {% for item in profile.1 %}
                        <div class="items">
                            {% if item.1 %}
                                <i class="fa fa-check item-check"></i>
                            {% else %}
                                <i class="fa fa-times item-check"></i>
                            {% endif %}
                            <p class="item-action">{{ item.0.action }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
