{% extends 'diary/base.html' %}

{% load staticfiles %}

{% block title %}
  <title>Denné výzvy</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/challange.css' %}">
{% endblock %}

{% block content %}
    {% for challange in data %}
        <h1>{{ challange.0.name }} - {{ challange.0.points }} bodov</h1>
        <p class="date">{{ challange.0.date }}</p>
        <form method="POST" autocomplete="off">
            {% for profile in challange.1 %}
                <h2>{{ profile.0.idUser.username }}</h2>
                {% csrf_token %}
                {% for item in profile.1 %}
                    <label class="container">
                        {{ item.0.action }}
                        {% if item.1 %}
                            <input type="checkbox" name="challange_{{ challange.0.id }}_item_{{ item.0.id }}" onchange="input_post('{{ item.0.id }}')" disabled checked>
                        {% else %}
                            <input type="checkbox" name="challange_{{ challange.0.id }}_item_{{ item.0.id }}" onchange="input_post('{{ item.0.id }}')" disabled>
                        {% endif %}
                        <span class="checkmark"></span>
                    </label>
                {% endfor %}
            {% endfor %}
        </form>
    {% endfor %}
{% endblock %}
