{% extends 'diary/base.html' %}

{% load staticfiles %}

{% block title %}
  <title>Denná výzva</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/challange.css' %}">
{% endblock %}

{% block content %}
  {% if data %}
    {% for challange in data %}
      <h1>{{ challange.0.name }} - {{ challange.0.points }} bodov</h1>
      <p class="date">{{ challange.0.date }}</p>
      <form method="POST" autocomplete="off">
        {% csrf_token %}
        {% for item in challange.1 %}
          <label class="container">
            {{ item.0.action }}
            {% if item.1 %}
              <input type="checkbox" name="challange_{{ challange.0.id }}_item_{{ item.0.id }}" onchange="input_post('{{ item.0.id }}')" checked>
            {% else %}
              <input type="checkbox" name="challange_{{ challange.0.id }}_item_{{ item.0.id }}" onchange="input_post('{{ item.0.id }}')">
            {% endif %}
            <span class="checkmark"></span>
          </label>
        {% endfor %}
      </form>
    {% endfor %}
  {% else %}
    <h1>Dnes nie je aktívna žiadna denná výzva</h1>
  {% endif %}
{% endblock %}

{% block late_js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/challange.js' %}"></script>
{% endblock %}
