{% extends 'diary/base.html' %}

{% load staticfiles %}

{% block title %}
  <title>Zmeniť heslo</title>
{% endblock %}

{% block bootstrap %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <style>
    a.w3-bar-item:hover {
      text-decoration: none;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="form">
    <h1>Zmena hesla</h1>
    {% if error %}
      <div class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Chyba!</strong> {{ error }}
      </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <label for="old">Staré heslo</label>
      <br>
      <input id="old" class="field" name="old" type="password" required>
      <br>
      <label for="password">Nové heslo</label>
      <br>
      <input id="password" class="field" name="password" type="password" required>
      <br>
      <label for="confirm">Potvrď heslo</label>
      <br>
      <input id="confirm" class="field" name="confirm" type="password" required>
      <br>
      <input type="submit" value="Zmeniť heslo">
    </form>
  </div>
{% endblock %}
