{% extends 'diary/base.html' %}

{% load staticfiles %}

{% block title %}
  <title>Denníček</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

{% block content %}
  <h1>Ta daco</h1>
{% endblock %}
