{% extends 'diary/base.html' %}

{% load staticfiles %}

{% block title %}
  <title>Prihlásiť sa</title>
{% endblock %}

{% block bootstrap %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
  <div class="form">
    <h1>Prihlásenie</h1>
    {% if info %}
      <div class="alert alert-info alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ info }}
      </div>
    {% endif %}
    {% if error %}
      <div class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Chyba!</strong> {{ error }}
      </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <label for="username">Používateľské meno</label>
      <br>
      <input id="username" class="field" name="username" type="text">
      <br>
      <label for="password">Heslo</label>
      <br>
      <input id="password" class="field" name="password" type="password">
      <br>
      <input type="submit" value="Prihlásiť sa">
    </form>
  </div>
{% endblock %}
